{% extends 'base.html' %}


{% block title %}Login{% endblock %}

{% block content %}
<center><h2>Login</h2></center>
<form method="post">
  {% csrf_token %}
 <center>{{ form.as_p }}</center>
 <center><button class="btn btn-success type="submit">Login</button></center>
</form>
{% endblock %}