{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% load static %}
{% block content %}
<br>
{% if user.is_authenticated %}
<div class="hi-user">
  <div class="row">
    <div class="col-md-12">
      <h1>Hi {{ user.username }}!</h1>
    </div>
  </div>
</div>
<div class="button-submit">
  <div class="row">
    <div class="col-md-12">
      <a class="btn btn-success" href="{% url 'logout' %}">logout</a>
      <a class="btn btn-danger" href="{% url 'password_reset' %}">reset password</a>
    </div>
  </div>
</div>
{% else %}
<div class="feature-image">
  <div class="row">
    <div class="col-md-12">
      <a href="http://www.google.com"><img src="{% static 'picture/google.png' %}"></a>
    </div>
  </div>
</div>
<div class="button-submit">
  <div class="row">
    <div class="col-md-12">
      <a href="{% url 'login' %}" class="btn btn-success">Login</a>
      <a href="{% url 'signup' %}" class="btn btn-danger">Register</a>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}