body {
    background:linear-gradient(-90deg, #009E99,  #66FCF7);

}
.feature-image{
    text-align: center;

}
.button-submit{
    padding: 30px;
    text-align: center;
}
.sign-title{
    padding: 20px;
    text-align: center;
}
.hi-user{
    color: red;
    text-align: center;
}